.cart {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.cart-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.cart-content {
  flex-grow: 1;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.cart li img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.cart li div {
  flex: 1;
}

.cart li h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.cart li p {
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  max-width: 50px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.remove-item-btn {
  margin-left: auto;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-item-btn:hover {
  background-color: #ff1a1a;
}

.cart-footer {
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  background: white;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buy-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.buy-btn:hover {
  background-color: #45a049;
}
