.product-model {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-bg {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-content {
    position: relative;
    max-width: 1200px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.product-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin: 0 auto;
    z-index: 9999;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.product-content h3 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin: 15px 0;
}